* {
    box-sizing: border-box;
    margin: 1px;
    padding: 3px;

}


body {
    background-color: rgb(245, 237, 237);
    background-color: #040404;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ff0000' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-family: 'Oswald', sans-serif;

}
ul {
    list-style:none;

}

a {
    background: none;
    color: rgb(235, 235, 243);
    
}

.container {
    width: 98%;
    margin: auto;

}
/*Navigation*/
.nav-main {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5px;
    padding: 5px 0;

}

.nav-brand {
    width: 55px;
    background-color: red;
    
}

/*-NAV LEFT-*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 20px;

    

}

.nav-main ul li a:hover {
    border-bottom: 3px solid rgb(52, 25, 97);
}


.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 22;
}


/*SHOW CASE*/

a {
    margin: 10px 0;

}
.nav-main{
    margin: 20px 0;
    
}
.showcase {
    width: 100%;
    height: 460px;
    background: url(./img/calistenia.2.jpeg) no-repeat center/cover;
padding-bottom: 50px;
display: flex;
margin-bottom: 15px;
flex-direction: column;
align-items: center;
justify-content: flex-end;

}

.showcase h2{
    margin-bottom: 10px;
    background:none;
    color: rgb(255, 255, 255);
    
}.showcase p{
    color: white;



}

/*News cards*/

.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
color: rgb(238, 227, 238);
gap: 15px;
margin: 15px;

}
.news-cards img{
    width: 100%;
    height: 180px;

}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a{

    padding: 10px 0;
    color: antiquewhite;
    text-transform: uppercase;
    display: inline-block;

}

/* CARDS BANNER ONE*/
.cards-banner-one{
    width: 420%;
    height: 450px;
    background: url(img/sanaidad.jpeg) no-repeat center/cover;


}
.cards-banner-one p{
    color: rgb(0, 0, 0);
    height: 33px;
}

.cards-banner-one h2{
    color: rgb(37, 41, 40);
}

.cards-banner-one .content{
    width: 44;
    padding: 90px 0 0 30px;
}

